<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title><span th:text="#{consulta.vuelo.titulo}"></span></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>

	<div class="starter-template">
		<h1><span th:text="#{empresa}" /></h1>
		<h2>
			<span th:text="#{ciudad.buscar.titulo}"></span>
		</h2>
	</div>

	<form th:action="@{/consultaVuelo.html}" th:object="${formBean}" method="post">
		<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
		<table border="1" style="align-self: center;">		
			<tr>
				<td><label th:text="#{consulta.vuelo.fecha}" /></td>
				<td><input required type="date" th:field="*{fechaAconsultar}" /></td> 
			</tr>
			<tr>
				<td><label th:text="#{consulta.vuelo.origen}" /></td>
				<td>
					<select th:field="*{ciudadOrigen_Aconsultar}"> 
						<option th:value="null" text="Seleccione una opción"></option>
						<option th:each="p : ${allCiudades}" th:value="${p.id}" th:text="${p.nombre}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label th:text="#{consulta.vuelo.destino}" /></td>
				<td>
					<select th:field="*{ciudadDestino_Aconsultar}"> 
						<option th:value="null" text="Seleccione una opción"></option>
						<option th:each="p : ${allCiudades}" th:value="${p.id}" th:text="${p.nombre}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label th:text="#{consulta.vuelo.tipo}" /></td>
				<td>
					<select th:field="*{tipoDeVuelo_Aconsultar}"> 
						<option value=""></option>
						<option value="nacional">Nacional</option>
						<option value="internacional">Internacional</option>
					</select>
				</td>
			</tr>
		</table>
		<table class="botones">

			<tr>
				<td><input type="submit" name="action" value="BuscarVuelo" /></td>
			</tr>

		</table>
		<table class="resultados" border="0" style="align-self: center;">
			<thead>
				<tr>
					<th><label th:text="#{consulta.vuelo.fechaResultado}" /></th>
					<th><label th:text="#{consulta.vuelo.numero}" /></th>
					<th><label th:text="#{consulta.vuelo.tipo}" /></th>
					<th><label th:text="#{consulta.vuelo.Estado}" /></th>
					<th><label th:text="#{consulta.vuelo.Cantidad.Asiento}" /></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="v : ${resultadosVuelos}">
					<td th:text="${{v}}"></td>
					<!--<td th:text="${{v.fechaVuelo}}"></td>
					<td th:text="${{v.horaVuelo}}"></td>
					<td th:text="${{v.numeroVuelo}}"></td>
					<td th:text="${{v.TipoDeVuelo}}"></td>
					<td th:text="${{v.estado}}"></td>
					<td th:text="${{v.avion.capacidad}}"></td>		-->			
				</tr>
			</tbody>
		</table>
	</form>
</body>

</html>