<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Inicio</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>  

<body >
	
   
	
   <div class="starter-template">
        <h1 class="Bienvenido">Bienvenidos</h1>
    </div>
 
    <a class="custom-btn btn-16 botonIRprogramarVuelo" th:href="programarVuelo">programar vuelo</a>
    <a class="custom-btn btn-16 botonIRprogramarVuelo" th:href="modificarImpuestosYTasas">Impuestos Y Tasas</a>

        
</body>
</html>