<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Impuestos y Tasas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
	<div class="Titulos-Contenedores">
		<h1 class="Titulos-H1">Impuestos y Tasas</h1>
	</div>
	<form th:action="@{/modificarImpuestosYTasas}" th:object="${formBean}" method="post">

		<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
		<div class="starter-template contenedorGeneral perimeraparte">
			<div class="input-group">
				<input required min="0" max="100" type="number" step="0.01" pattern="^\d*(\.\d{0,2})?$"
					th:field="*{ivaSeleccionado}" class="input-iva" id="iva" />
				<label th:text="#{modificarImpuestosYTasas.iva}" class="label_modifImpuestos" for="iva" />
			</div>
			<div class="input-group">
				<input required min="0" type="number" step="0.01" pattern="^\d*(\.\d{0,2})?$"
					th:field="*{tasaAeroportuariaNacionalSeleccionado}" class="input-iva" id="tasaNacional" />
				<label th:text="#{modificarImpuestosYTasas.tasaNacional}" class="label_modifImpuestos"
					for="tasaNacional" />
			</div>
			<div class="input-group">
				<input required min="0" type="number" step="0.01" pattern="^\d*(\.\d{0,2})?$"
					th:field="*{tasaAeroportuariaInternacionalSeleccionado}" class="input-iva" id="tasaInt" />
				<label th:text="#{modificarImpuestosYTasas.tasaInt}" class="label_modifImpuestos" for="tasaInt" />
			</div>

			<div class="input-group">
				<input required min="0" type="number" step="0.01" pattern="^\d*(\.\d{0,2})?$"
					th:field="*{cotizacionDolarSeleccionado}" class="input-iva" id="cotDolar" />
				<label th:text="#{modificarImpuestosYTasas.Dolar}" class="label_modifImpuestos" for="cotDolar" />
			</div>
		</div>
		<div class="starter-template contenedorGeneral segundaparte">
			<input class="custom-btn btn-16" type="submit" name="action" value="Modificar" />
		</div>
	</form>

	<div class="div-volver">
		<a class="custom-btn btn-16 volver" th:href="@{/}">Volver al inicio</a>
	</div>

</body>

</html>