<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Peogramar vuelo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
	<form th:action="@{/programarVuelo}" th:object="${formBean}" method="post">

		<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />

		<div class="starter-template contenedorGeneral perimeraparte">
			<div class="input-group">
				<input required type="number" step="0.01" pattern="^\d*(\.\d{0,2})?$" th:field="*{precioVuelo}" class="input" id="precio"/>
				<label th:text="#{vuelo.precio}" class="label" for="precio"/>
			</div>
			<div class="input-group">
				<input required type="text" th:field="*{numeroVuelo}" class="input" id="numvuelo"/>
				<label th:text="#{vuelo.numero}" class="label" for="numvuelo"/>
			</div>
			<div class="input-group">			
				<select required th:field="*{ciudadSeleccionadaOrigen}" class="select" id="ciudadOr">
					<option class="option" th:value="null" text="Seleccione una opción"></option>
					<option class="option" th:each="p : ${allCiudades}" th:value="${p.id}" th:text="${p.nombre}"></option>
				</select>					
				<label th:text="#{vuelo.ciudadOrigen.titulo}" class="label" for="ciudadOr"/>	
			</div>						
			<div class="input-group">			
				<select required th:field="*{ciudadSeleccionadaDestino}" class="select" id="ciudadDes">
					<option class="option" th:value="null" text="Seleccione una opción"></option>
					<option class="option" th:each="p : ${allCiudades}" th:value="${p.id}" th:text="${p.nombre}"></option>
				</select>					
				<label th:text="#{vuelo.ciudadDestino.titulo}" class="label" for="ciudadDes"/>	
			</div>	
			<div class="input-group">			
				<select required th:field="*{ciudadSeleccionadaDestino}" class="select" id="tipoViaje">
					<option class="option" value=""></option>
					<option class="option" value="nacional">Nacional</option>
					<option class="option" value="internacional">Internacional</option>					
				</select>					
				<label th:text="#{tipo.viaje}" class="label" for="tipoViaje"/>	
			</div>
			<div class="input-group">			
				<select required th:field="*{avionSeleccionado}" class="select" id="avion">
					<option class="option" th:value="null" text="Seleccione una opción"></option>
					<option class="option" th:each="p : ${allAvionesDisponibles}" th:value="${p.id}" th:text="${p.nombre}"></option>							
				</select>					
				<label th:text="#{avion.texto}" class="label" for="avion"/>	
			</div>
			<div class="input-group">			
				<input required type="date" th:field="*{fechaYHoraSeleccionada}" class="fecha_hora" id="fecha"/>					
				<label th:text="#{fechayHoraText}" class="label_fecha_hora" for="fecha"/>	
			</div>		
			<div class="input-group">			
				<input required type="time" step="1" th:field="*{horaVuelo}" class="fecha_hora" id="hora"/>					
				<label th:text="#{HoraText}" class="label_fecha_hora" for="hora"/>	
			</div>
		</div>
		<div class="starter-template contenedorGeneral segundaparte">
			<input class="custom-btn btn-16" type="submit" name="action" value="Programar" />
		</div>
	</form>
	
	<div class="div-volver">
		<a class="custom-btn btn-16 volver" th:href="@{/}">Volver al Inicio</a>
	</div>

</body>

</html>