<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title><span th:text="#{vender.pasaje.titulo}"></span></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>

	<div class="starter-template">
		<h1><span th:text="#{empresa}" /></h1>
		<h2>
			<span th:text="#{vender.pasaje.titulo}"></span>
		</h2>
	</div>

	<form th:action="@{/venderPasaje}" th:object="${formBean}" method="post">
		<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
		<table border="1" style="align-self: center;">
			<tr>
				<td><label th:text="#{vender.pasaje.ingresardni}" /></td>
				<td><input required type="number" th:field="*{dniAConsultar}" /></td>
			</tr>

		</table>
		<table class="botones">

			<tr>
				<td><input type="submit" name="action" value="ConsultarCliente" /></td>
			</tr>

		</table>
		<table class="resultados" border="0" style="align-self: center;">
			<thead>
				<tr>
					<th><label th:text="#{vender.pasaje.apellido}" /></th>
					<th><label th:text="#{vender.pasaje.nombre}" /></th>
					<th><label th:text="#{vender.pasaje.email}" /></th>
					<th><label th:text="#{vender.pasaje.fechaDeNacimiento}" /></th>
					<th><label th:text="#{vender.pasaje.pasaporte}" /></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<tr th:each="v : ${resultadoCliente}">
					<td th:text="${resultadoCliente.apellido}"></td>
					<td th:text="${resultadoCliente.nombre}"></td>
					<td th:text="${resultadoCliente.email}"></td>
					<td th:text="${resultadoCliente.fechaDeNacimiento}"></td>
					<td th:text="${resultadoCliente.pasaporte}"></td>
				</tr>
				</td>
				</tr>

			</tbody>
		</table>
		<div class="div-volver">
			<a class="custom-btn btn-16 volver" th:href="@{/}">Volver al inicio</a>
		</div>

		
		
		
		
		
		<div class="input-group">
			<select  th:field="*{vueloAConsultar}" class="select" id="vuelo">
				<option class="option" th:value="null" text="Seleccione una opción"></option>
				<option class="option" th:each="p : ${allVuelos}" th:value="${p.id}" th:text="${p.numeroVuelo}"></option>
			</select>
			<label th:text="#{vender.pasaje.numeroVuelo}" class="label" for="vuelo" />
		</div>
		
		<div class="input-group">
			<select  th:field="*{asientoAConsultar}" class="select" id="asiento">
				<option class="option" th:value="null" text="Seleccione una opción"></option>
				<option class="option" th:each="p : ${allAsientosDisponibles}" th:value="${p.id}" th:text="${p.numero}"></option>
			</select>
			<label th:text="#{vender.pasaje.asiento}" class="label" for="asiento" />
		</div>

		<!--<div th:if="${esUsuarioRegistrado}">
			<label for="asiento">Seleccione un asiento:</label>
			<select id="asiento" name="asiento" th:field="*{asiento}">
				Lógica para mostrar los asientos disponibles servicioVenderPasaje.buscarCliente(formBean)
			</select>
		</div>-->


	</form>
</body>

</html>