<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Vender Pasajes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>

	<div class="Titulos-Contenedores">
		<h1 class="Titulos-H1">Vender Pasaje</h1>
	</div>

	<form th:action="@{/venderPasaje}" th:object="${formBean}" method="post">
		<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />

		<div class="starter-template contenedorGeneral perimeraparte">
			<div class="input-group">
				<input required min="0" type="number" th:field="*{dniAConsultar}" class="input-iva" id="dni" />
				<label th:text="#{vender.pasaje.ingresardni}" class="label_modifImpuestos" for="dni" />
			</div>
		</div>
		<div class="starter-template contenedorGeneral segundaparte">
			<input class="custom-btn btn-16" type="submit" name="action" value="ConsultarCliente" />
		</div>

		<table class="resultados-busqueda-vuelo">
			<thead>
				<tr>
					<th><label th:text="#{vender.pasaje.apellido}" /></th>
					<th><label th:text="#{vender.pasaje.nombre}" /></th>
					<th><label th:text="#{vender.pasaje.email}" /></th>
					<th><label th:text="#{vender.pasaje.fechaDeNacimiento}" /></th>
					<th><label th:text="#{vender.pasaje.pasaporte}" /></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<tr th:each="v : ${resultadoCliente}">
					<td th:text="${resultadoCliente.apellido}"></td>
					<td th:text="${resultadoCliente.nombre}"></td>
					<td th:text="${resultadoCliente.email}"></td>
					<td th:text="${resultadoCliente.fechaDeNacimiento}"></td>
					<td th:text="${resultadoCliente.pasaporte}"></td>
				</tr>
			</tbody>
		</table>
		<div class="div-volver">
			<a class="custom-btn btn-16 volver" th:href="@{/}">Volver al inicio</a>
		</div>

		<div class="starter-template contenedorGeneral perimeraparte">
			<div class="input-group">
				<select th:field="*{vueloAConsultar}" class="select" id="vuelo">
					<option class="option" th:value="null" text="Seleccione una opción"></option>
					<option class="option" th:each="p : ${allVuelos}" th:value="${p.id}" th:text="${p.numeroVuelo}">
					</option>
				</select>
				<label th:text="#{vender.pasaje.numeroVuelo}" class="label" for="vuelo" />
			</div>

			<div class="input-group">
				<select th:field="*{asientoAConsultar}" class="select" id="asiento">
					<option class="option" th:value="null" text="Seleccione una opción"></option>
					<option class="option" th:each="p : ${resultadoVuelo}" th:value="${p.id}" th:text="${p.asientos}">
					</option>
				</select>
				<label th:text="#{vender.pasaje.asiento}" class="label" for="asiento" />
			</div>

			
			
		</div>
		<div class="starter-template contenedorGeneral segundaparte">
			<input class="custom-btn btn-16" type="submit" name="action" value="EmitirTicket" />
		</div>

		<div class="starter-template contenedorGeneral segundaparte">
			<input class="custom-btn btn-16" type="submit" name="action" value="ConsultarAsiento" />
		</div>



	</form>
</body>

</html>